<meta charset="utf-8">
<head>
  <style>
  .main_info {
    background-color: #ddd;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    float: left;
  }
  .back{
    float: left;
    background-color: #ddd;
    border: 2px solid #aaa;
  }
  </style>
</head>
<h1 style="background-color:{{ node.state.color }}">Node {{ node.id }}</h1>
<div class="main_info">
  <p>house: {{ node.flat.floor.house.name }}</p>
  <p>floor: {{ node.flat.floor.level }}</p>
  <p>flat: {{ node.flat.name }}</p>
  <p>state: {{ node.state.name }}</p>
  <p>last change: {{ node.last_change }}</p>
</div>
<form method='post'>
  <input type='hidden' value='ping' name='action'>
  <input type='hidden' name='node_id' value='{{ node.id }}'>
  <input type='submit' value='ping' class='add'>
</form>
<a class="back" href='./overview'>overview</a>
