{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class='row'>
    <h2>Houses</h2>
    {% for house in houses %}
      <div class='house'><div class='house_name'>{{ house.name }}</div>
          {% for floor in sorted(house.floors, key=attrgetter('level')) %}
          <div class='floor'>
              <div class='floor_name'>{{ floor.level }}</div>
              <form method='post'>
                <input type='hidden' value='del_floor' name='action'>
                <input type='hidden' name='floor_id' value='{{ floor.id }}'>
                <input type='submit' value='del' action='submit' class='del_floor'>
              </form>
              <form method='post'>
                <input type='text' placeholder='new flat' name='name'>
                <input type='hidden' value='add_flat' name='action'>
                <input type='hidden' name='floor_id' value='{{ floor.id }}'>
                <input type='submit' value='add' class='add'>
              </form>
              {% for flat in floor.flats %}
              <div class='flat'>
                  <form method='post'>
                    <input type='hidden' value='del_flat' name='action'>
                    <input type='hidden' name='flat_id' value='{{ flat.id }}'>
                    <input type='submit' value='del' action='submit' class='del'>
                  </form>
                  <div class='flat_name'>{{ flat.name }}</div>
                  <div class='row'>
                      {% for node in flat.nodes %}
                      <div class='node' style="background-color:{{ node.state.color }};"><a href='node_info?node_id={{ node.id }}&autorefresh={{ int(autorefresh) }}'>{{ node.id }}</a></div>
                      {% endfor %}
                  </div>
              </div>
              {% endfor %}
          </div>
          {% endfor %}
          <form method='post'>
            <input type='number' name='level' placeholder='new level'>
            <input type='hidden' value='add_floor' name='action'>
            <input type='hidden' name='house_id' value='{{ house.id }}'>
            <input type='submit' value='add' class='add'>
          </form>
      </div>
    {% endfor %}
</div>
<div class='footer'>
    <form method='post'>
    <p>New House</p>
    <p><input placeholder='name' type='text' name='name'></p>
    <p><input type='text' name='gps', placeholder='gps'></p>
    <p><input type='text' name='adress', placeholder='adress'></p>
    <p><input type='number' name='interval', placeholder='interval'></p>
    <p><input type='number' name='length', placeholder='length'></p>
    <input type='hidden' value='add_house' name='action'><input class='add' type='submit' value='add'>
    </form>
</div>
{% endblock %}
