{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class='row'>
    <h2>Houses</h2>
    {% for house in houses %}
      <div class='house'><div class='house_name'><a href='csv?house_id={{ house.id }}'>{{ house.name }}</a></div>
        {% for floor in sorted(house.floors, key=attrgetter('level')) %}
          <div class='floor'>
              <div class='floor_name'>{{ floor.level }}</div>
              <form method='post'>
                <input type='text' placeholder='new flat' name='name'>
                <input type='hidden' value='add_flat' name='action'>
                <input type='hidden' name='floor_id' value='{{ floor.id }}'>
                <input type='submit' value='add' class='add'>
              </form>
              {% for flat in floor.flats %}
              <div class='flat'>
                  <div class='flat_name'>{{ flat.name }}</div>
                  <div class='row'>
                      {% for node in flat.nodes %}
                      <div class='node' id='Nco{{ node.id }}' style="background-color:{{ node.state.color }};"><a href='node_info?node_id={{ node.id }}'>{{ node.id }}</a></div>
                      {% endfor %}
                  </div>
              </div>
              {% endfor %}
          </div>
          {% endfor %}
          <form method='post'>
            <input type='number' name='level' placeholder='new level'>
            <input type='hidden' value='add_floor' name='action'>
            <input type='hidden' name='house_id' value='{{ house.id }}'>
            <input type='submit' value='add' class='add'>
          </form>
          <div class = "gateway">
              <p> Gateway '{{ house.mqtt_topic }}': <b id='{{"Hst" + str(house.id)}}'>{{ house.gateway_state }}</b> since <b id='{{"Hsi" + str(house.id)}}'>{{ house.gateway_updated }}</b></p>
              <p>
                <form method='post'>
                  <input type='hidden' name='house_id' value='{{ house.id }}'>
                  <input type='hidden' value='clear_queue' name='action'>
                  Queue length: <b id='{{"Hqu" + str(house.id)}}'></b>
                  <input type='submit' value='clear' class='clear'>
                </form>
              </p>
          </div>
          <div class = "settings">
            <form method='post'>
              <p>mqtt_topic: <input type='text' name='mqtt_topic', value='{{ house.mqtt_topic }}'></p>
              <p>interval: <input type='number' name='interval', value='{{ house.interval }}'></p>
              <p>length: <input type='number' name='length', value='{{ house.length }}'></p>
              <input type='hidden' value='edit_house' name='action'>
              <input type='hidden' value='{{ house.id}}' name='house_id'>
              <input type='submit' value='save'>
            </form>
          </div>
      </div>
    {% endfor %}
</div>
<div class='status'>
  {% for module in system_modules %}
  <p>{{ module.name }}: <b id='{{"Mst" + str(module.id)}}'>{{ module.status }}</b> since <b id='{{"Msi" + str(module.id)}}'>{{ module.updated }}</b></p>
  {% endfor %}
</div>
<div class='footer'>
    <form method='post'>
    <p>New House</p>
    <p><input placeholder='name' type='text' name='name'></p>
    <p><input type='text' name='gps', placeholder='gps'></p>
    <p><input type='text' name='mqtt_topic', placeholder='mqtt_topic'></p>
    <p><input type='text' name='adress', placeholder='adress'></p>
    <p><input type='number' name='interval', placeholder='interval'></p>
    <p><input type='number' name='length', placeholder='length'></p>
    <input type='hidden' value='add_house' name='action'><input class='add' type='submit' value='add'>
    </form>
  </div>
  <div class='status'>
    <a href='delete'>delete stuff</a>
  </div>
  <script type=text/javascript>
  	function update (){
      fetch('/auto_update')
      .then(res => res.json())
      .then((data) =>  {
        data.html.forEach(function(element) {
          document.getElementById(element[0]).innerHTML=element[1];
        });
        data.bgColor.forEach(function(element) {
          document.getElementById(element[0]).style.backgroundColor=element[1];
        });
  		});
  	};
    setInterval(function(){
      update() // this will run after every second
    }, 1000);
  </script>
{% endblock %}
